.social {
	text-align: center;
	padding-bottom: 20px;
}

.social a {
	color: #4A494B;
	font-size: 2.5em;
}

.social a:hover {
	color: #77D768;
}

.social img {
	width: 20px;
	height: 20px;
}

.hello {
	text-align: center;
	font-size: 65pt;
	font-family: "Raleway", sans-serif;
	color: #BF88F2;
	cursor: pointer;
	font-weight: 700;
}

.logo {
	width: 250px;
	padding-bottom: 0px;
}

.trisarahtrops {
	text-align: center;
	font-size: 20pt;
	font-family: "Raleway", sans-serif;
	color: #61219A;
	cursor: pointer;
	font-weight: 500;
	padding-bottom: 30px;
}

.trisarahtrops img {
	width: 100px;
}

.wideContentBox {
	height:100%;
}

.links a {
	font-size: 12pt;
	font-family: "Lato", sans-serif;
	color: #BF88F2;
	cursor: pointer;
	padding-left: 10px;
	float: right;
}

.links a:hover {
	color: #61219A;
}

.headertitle {
	font-size: 35pt;
	font-family: "Lato", sans-serif;
	color: #77D768;
	text-align: center;
	cursor: pointer;
	font-style: italic;
	border-bottom: thick solid #BF88F2;
	border-top: thick solid #BF88F2;
}

.infotitle {
	font-size: 20pt;
	font-family: "Lato", sans-serif;
	text-align: center;
	cursor: pointer;
	font-style: bold;
}

.infotitle a {
	color: #61219A;
}

.infotitle a:hover {
	color: #77D768;
}

.information {
	font-size: 1em;
	font-family: "Lato", sans-serif;
	color: #4A494B;
	text-align: left;
	cursor: pointer;
}

.about {
	font-size: 1.5em;
	font-family: "Lato", sans-serif;
	color: #4A494B;
	text-align: left;
	cursor: pointer;
}

.about a {
	font-size: 1.7em;
	color: #BF88F2;
	font-style: italic;
}

.about a:hover {
	color: #61219A;
}

.interests {
	list-style-type: none;
	text-align: center;
	color: #61219A;
}

.purple-section img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
	width:50px;
	height:50px;
	margin-right: 10px;
}

.purple-section img:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
}

.grinnell img {
	width: 60px;
	height: 50px;
}

.myFace img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
	width:200px;
	height:200px;
}

.myFace img:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
};

.crew img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
	width:1000px;
	height:200px;
}

.crew img:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
};