.social {
	text-align: center;
}

.social a {
	color: #4A494B;
	font-size: 2.5em;
}

.social a:hover {
	color: #77D768;
}

.social img {
	width: 20px;
	height: 20px;
}

.socialHeader {
	margin-right: 160px;
}


.logo {
	width: 400px;
	padding-right: 50px;
	padding-top: 150px;
}

.trisarahtrops {
	text-align: center;
	font-size: 20pt;
	font-family: "Raleway", sans-serif;
	color: #61219A;
	cursor: pointer;
	font-weight: 500;
	padding-bottom: 30px;
}

.trisarahtrops img {
	width: 100px;
}

.wideContentBox {
	height:100%;
}

.headertitle {
	font-size: 35pt;
	font-family: "Merienda One", sans-serif;
	color: #77D768;
	text-align: center;
	cursor: pointer;
}

.infotitle {
	font-size: 18pt;
	font-family: "Lato", sans-serif;
	text-align: center;
	cursor: pointer;
	color: #77D768;
}

.resourcetitle {
	font-size: 18pt;
	font-family: "Lato", sans-serif;
	text-align: center;
	cursor: pointer;
	color: #4A494B;
}

.resourceLinks a:hover {
	color: #4A494B;
}

.about p {
	font-size: 13pt;
	font-family: "Lato", sans-serif;
	color: #4A494B;
	text-align: left;
	cursor: pointer;
	font-style: none;
}

.heading p {
	font-size: 14pt;
	font-family: "Lato", sans-serif;
	color: #4A494B;
	text-align: center;
	cursor: pointer;
}

.about a {
	font-size: 13pt;
	color: #BF88F2;
}

.about a:hover {
	color: #61219A;
}

.interests {
	font-size: 13pt;
	list-style-type: none;
	text-align: center;
	color: #61219A;
}

.purple-section img {
	height: 5%;
	width: 5%;
	margin-right: 10px;
}

.aboutMe img {
	width:200px;
	height:200px;
	margin-right: 10px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
}

.aboutMe img:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
};


.grinnell img {
	width: 70px;
	height: 50px; 
}

.ignite img {
	width: 40px;
	height: 80px;
}

.appLogo {
     text-align: center;
     height: 100px;
     padding-right: 10px;
     padding-left: 10px;
}

.appScreens img {
    width: 200px;
    position: center;
    filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	margin-right: 20px;
	border: #4A494B;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
}

.webScreens img{
    width:310px;
    height:505.9px;
    text-align: center;
    position: center;
    filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	margin-right: 10px;
}

.resourcesWebScreens img{
    width:950px;
    text-align: center;
    position: center;
    filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	margin-right: 10px;
}

.projectTitle {
    font-size: 25pt;
    font-family: "Lato", sans-serif;
    font-style: bold;
    color: #61219A;
	text-align: center;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 30px;
}


.information i {
	color: #BF88F2;
	font-size: 2.5em;
	padding-top: 0px;
	margin-top: 0px;
}

.information i:hover {
	color: #77D768;
}

.information i img {
	width: 30px;
	height: 30px;
	border-radius: 2px;
}

ul {
	display: block;
}

.painting img {
	height: 200px;
	padding-right: 5px;
	padding-left: 5px;
}
